.header{
    background-color: #d8d8d8;    
}
.menu{
    display: flex;
    text-transform: uppercase;
    color: #0a4d38;
    align-items: center;
    font-weight: 600;
    margin: 5px;
}
.menu::before{
    content: "";
    border-radius: 3px;
    width: 8px;
    height: 8px;
    background-color: #0a4d38;
    margin-right: 5px;
}
.menu:hover{
    color: orange;
}

.perfil{
    height: 15em;
}
.frase{
    color: #fff;
    background-color: #0a4d38;
    font-size: 1.5em;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
}
.formacao{
    background-color: #295748;
  display: flex;
  justify-content: center;
  padding: 2em 0;
}
.form-texto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2em;
    color: #fff;
}
.form-texto h2{
    text-transform: uppercase;
    font-size: 2em;
}
.form-texto p{
    font-style: italic;
    font-weight: 200;
    font-size: 1.5em;
}
.scroll-exp{
    display:inline-block;
    margin: 0 0 4em 0;
    overflow-x: scroll;
    border-left: #ff5400 solid 3px ;
    border-right: #ff5400 solid 3px ; 
}
.scroll-exp::-webkit-scrollbar{
    height: 8px;
    border: #fff solid 1px;
}
.scroll-exp::-webkit-scrollbar-thumb{
    background-color: #ff5400;
    border-radius: 4px; 
}

.conteiner-exp{
    display: flex;
    padding: 2em 0;
    width: 4800px;
}

.conteiner-cursos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    transform: translateX(6em);
}
.def-cursos{
    display: flex;
    align-items: center;
    
}
.def-cursos img{
    display: flex;
    max-width: 75px;
    margin-bottom: 1em; 
}
.def-cursos p{
    display: flex;
    color: #fff;
    font-size: 1.5em;
    margin: 1em;  
}
.header-port{
    background-color: #6a0f9e;
}
.section-port h3{
    text-align: center;
    font-style: italic;
    font-weight: 200;
    font-size: 2em;
    color:#fff;
}
.header-port.-ilust{
    background-color: #0f9e41;
}
.header-port.-art{
    background-color: #9e960f;
}
.header-port.-pub{
    background-color: #9e2a0f;
}
.container-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.container-cont p{
    font-size: 2em;
    margin-right: 10px;
}
.container-cont a{
    font-size: 2em;
    margin-left: 10px;
    color: #fff;
}
.container-cont a:hover{
    color: #3a2e5c;
}
.container-cont img{
    display: flex;
    width: 20%;
    height:fit-content;
}

.cont-dados{
    text-align: right;
    padding-right: 2em;
    color: #fff;
}
.cont-dados p{
    font-size: 1.5em;
    padding: 0.5em;
}
.a-dados{
    color:#fff;
    display: flex;
    flex-direction: column;
}
.a-dados.-fone{
    font-weight: 800;
    font-size: 3em;
    line-height: 0.5em;
}
.a-dados.-email{
    font-weight:lighter;
    font-style: italic;
    font-size: 2em;
    line-height: 2em;
}
.a-dados:hover{
    color: #ff5400;
}

.footer{
    background-color:#919191;
    color: #cecece;
    text-align: center;
    padding: 4em;
}
.footer p{
    font-size: 2em;
    font-weight: 200;
}