.button{
    color:#fff;
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #0a4d38;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}
.button:hover{
    background-color: orange;
    color: #000;
}
.button_gb{
    color:#fff;
    padding: 5px 20px;
    border-radius: 3px;
    background-color: #ff9e04;
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
}
.button_gb:hover{
    background-color: #08da97;
    color: #fff;
}