.conteiner-img{
    width: 110px;
    height: 110px;
    color: #000;
    overflow:hidden;
    cursor: pointer;
    box-sizing: border-box;
   
}

}
.cont-img{
width: 100%;
transform: scale(1.0);

}
.cont-img:hover{
    transform: scale(1.3);
    transition: 1s;
}